<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>信息修改</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body>
    <ul class="layui-nav" style="background-color: rgba(0, 0, 0, 0);">
        <li class="layui-nav-item" style="font-size: 28px;">信息修改</li>
        <li class="layui-nav-item" style="float: right">
               <a onclick="logout()" style="color: #a233c6;cursor: pointer">退出登录</a>
        </li>
        <li class="layui-nav-item" style="float: right">
            <a href="/toUpload" style="color: #a233c6;">上传作业</a>
        </li>
    </ul>

    <div class="box" style="margin:40px auto;width: 800px; height: 30rem; background-color: rgba(255, 255, 255, 0.6);border-radius: 1.5rem;" >
        <div style="width: 100%;">
            <h1 style="text-align:center">信 息 修 改</h1>
            <div style="text-align: center;color: #ffb800"><i class="layui-icon layui-icon-tips" style="font-size: 15px;"></i>单人小组成员只需填写组长</div>
            <hr>
            <div style="margin: 0 auto">
                <form action="/resetInfo" id="resetForm" method="post" style="margin: 0 auto;">
                    <input type="text" style="display: none" value="{{ groupId }}" name="groupId"/>
                    <div class="layui-form">
                        <div class="layui-form-item" style="margin-left: 100px;">
                            <div class="layui-input-group">
                                <div style="width: 80px;" class="layui-input-split layui-input-prefix my_label">组长</div>
                                <input type="text" style="width: 250px;"  name="headMan" value="{{ member.0 }}" class="layui-input">
                            </div>
                            <div id="head_info" class="info"></div>
                        </div>
                        <div class="layui-form-item" style="margin-left: 100px;">
                            <div class="layui-input-group">
                                <div style="width: 80px;" class="layui-input-split layui-input-prefix my_label">组员1</div>
                                <input type="text" style="width: 250px;" value="{{member.1}}" name="member1" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" style="margin-left: 100px;">
                            <div class="layui-input-group">
                                <div style="width: 80px;" class="layui-input-split layui-input-prefix my_label">组员2</div>
                                <input type="text" style="width: 250px;" value="{{member.2}}" name="member2" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" style="margin-left: 100px;">
                            <div class="layui-input-group">
                                <div style="width: 80px;" class="layui-input-split layui-input-prefix my_label">组员3</div>
                                <input type="text" style="width: 250px;" value="{{member.3}}" name="member3" class="layui-input">
                            </div>
                        </div>
                        <hr>
                        <div class="layui-form-item" style="margin-left: 100px;">
                            <div class="layui-input-group">
                                <div style="width: 80px;" class="layui-input-split layui-input-prefix my_label">项目名称</div>
                                <input type="text" style="width: 450px;" value="{{ project }}" name="project" class="layui-input">
                            </div>
                            <div id="project_info" class="info"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div style="width: 400px;margin: 10px auto;">
                <button type="button" id="mySubmit" style="width: 100%;" class="layui-btn">修改</button>
            </div>
            <div style="float: right;margin-right: 25px;">
                <a href="/toUpload" style="font-size: 16px;color: #16b777;">去上传</a>
            </div>
        </div>
    </div>

    <script src="/static/js/jquery-1.11.0.js"></script>
    <script type="text/javascript">
        function logout() {
            localStorage.removeItem('group_id')
            location.href = '/logout'
        }
        $(function () {
            let head_in = $("input[name='headMan']");
            let proj_in = $("input[name='project']");
            head_in.blur(function () {
                let headMan = head_in.val();
                if (!headMan) {
                    $('#head_info').text("至少包含一个成员");
                } else {
                    $('#head_info').text("");
                }
            });
            proj_in.blur(function () {
                let project = proj_in.val();
                if (!project) {
                    $('#project_info').text("项目名不能为空");
                } else {
                    $('#project_info').text("");
                }
            });
            $("#mySubmit").click(function () {
                let flag = true;
                if (!head_in.val()) {
                    $('#head_info').text("至少包含一个成员");
                    flag = false;
                }
                if (!proj_in.val()) {
                    $('#project_info').text("项目名不能为空");
                    flag = false;
                }
                if (flag) {
                    $('#resetForm').submit();
                }
            });
        });
    </script>
</body>

<style>
    html::before {
      content: '';
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: -1;
      background: linear-gradient(120deg, #e0c3fc, #8ec5fc 100%)no-repeat;

    }
    .box {
      display: flex;
      height: 50rem;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 10rem;
      box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0,  0.1);
    }

    h1 {
      color: rgb(144, 129, 241);
      font-size: 36px;
    }

    .info {
        height: 10px;
        margin-left: 80px;
        color: red;
        font-size: 10px;
    }
    .my_label {
        width: 80px;
        background-color: #dde0e3
    }
</style>
</html>