<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;" />
    <title>视频展示</title>
</head>

<body>
    <div align="center" style="font-size: 36px">
      <p>程序设计实训成果展</p>
    </div>
    <div align="center">
        <p>
            <table width="200" >
                <tr>
                    <td>
                        <video width="1080" controls="controls">
                            <source src="main.mp4" type="video/mp4">
                            您的浏览器不支持视频播放
                        </video>
                    </td>
                </tr>
                <tr><td><div align="center">作品展示</div></td></tr>
            </table>
        </p>
        <a href="/home">主页</a>
    </div>
</body>

</html>
